 @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=David+Libre&display=swap');

:root{
    --FF-Baskerville:'Libre Baskerville', serif;
    --FF-HelveticaNeue: 'Open Sans', sans-serif;
    --FF-GillSans:'David Libre', serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* border: 1px solid rgb(255, 0, 183); */
    overflow: auto;
}
/* header */

 .united{
    font-family: var(--FF-HelveticaNeue);
    width: 548px;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: right;
    float: right;
    margin-top: 36px;
    margin-right: 59px;
    padding-top: 2px;
}
.united li{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    margin-left: 15px;
}
.united a{
    text-decoration: none;
    color: #6c7178;
} 
/* 2nd row */
.united-1{
    font-family: var(--FF-HelveticaNeue);
    font-size: 18px;
    letter-spacing: 0.5px;
    float: left;
    padding: 0;
}
.united-1 li{
    text-decoration: none;
    list-style: none;
    float: left;
}
 .menu-box{
    width: 34px;
    height: 34px;
    float: left;
    padding: 3px;
}
.menu-box a{
    line-height: 0;
    display: inline-block;
}
.extra a{
    font-family: var(--FF-HelveticaNeue);
    margin-left: 30px;
    width: 120px;
    font-size: 24px;
    text-align: left;
    float: left;
}
.extra a{
    text-decoration: none;
    color: #6c7178;
}


.search-box{
    margin: 0;
    font-family: var(--FF-HelveticaNeue);
    margin-left: 6px;
    border: solid 1px rgba(0, 0, 0, 0.25);
    padding: 7px 0px 10px 13px;
    width: 185px;
    height: 52px;
}
.img-box{
    width: 32px;
    height: 32px; 
    float: left;  
}
.input-box{
    font-family: var(--FF-HelveticaNeue);
    margin-left: 8px;
    float: left;
    padding: 5px 0px 17px 0px;
}
.input-box input{
    width: 90px;
    height: 18px;
    border: none;
}
/* logo */
.logo-box{
    margin-top: -10px;
    width: 152px;
    height: 68px;
    margin-left: 105px;
    text-align: center;
}
.logo-box a{
    line-height: 0;
    display: inline-block;
}
 
.brand_name{
    font-family: var(--FF-HelveticaNeue);
    font-size: 22px;
    letter-spacing: 1px;
    color: black;
    text-align: center;
    margin-bottom: 0;
}
.fashion{
    font-family: var(--FF-GillSans);
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #6c7178;
}
/* profile */
.profile{
    width: 32px;
    height: 32px;
    float: left;
    margin-left: 106px;
}
.account{
    width: 114px;
    height: 29px;
    font-family:var(--FF-HelveticaNeue);
    font-size: 24px;
    letter-spacing: 1.09px;
    text-align: right;
    float: left;
    margin-left: 3px;
}
.account a{
    color: #6c7178;
    text-decoration: none;

}
.cart_box{
    font-family:var(--FF-HelveticaNeue);
    width: 124px;
    height: 29px;
    margin-left: 45px;
    font-size: 24px;
    letter-spacing: 1.09px;
    text-align: right;
    float: right;
    color: #6c7178;
}
.cart_box a{
    color: #6c7178;
    text-decoration: none;
}
.cart_box img{
    float:left;
    padding-left: 15px;
} 

/*********** Header End***************/
/* people */ 
.people{
    width:100%;
    height: 658px;
    text-align: center;
    background-color: #f5f5f5;
    font-family: var(--FF-GillSans);
    margin-top: 71px;
    float: left;
    padding-top: 247px;
}
.help{
    height: 25px;
    font-family: GillSans;
    font-size: 22px;
    text-align: center;
    color:black;
    font-family: var(--FF-GillSans);
}
.tips{
    height: 60px;
    margin-top: 18px;
    font-family:var(--FF-Baskerville);
    font-size: 56px;
    text-align: center;
    color:black;
}
.show{
    font-family: var(--FF-GillSans);
    height: 28px;
    margin-top:  32px;
    font-family: GillSans;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 2.18px;
    text-align: center;
    color:black;
    text-decoration: underline;
}
/* our accessory */
.accessory{
    font-size: 56px;
    font-family: var(--FF-Baskerville);  
    padding-top: 112px;
}

.for_ladies{
    font-family: Baskerville;
    font-size: 56px;
    text-align: center;
    color:black;
    margin-bottom: 12px;
}

.bags{
    font-family: var(--FF-GillSans);
    font-size: 27px;
    text-align: center;
    color:black;
    margin-bottom: 0px;
}
/* grid boxes */
.box-1{
    margin-top: 78px;
    width: 220px;
    height: 220px;
    background-color: #d8d8d8;
}
.bag_types{
    font-family: var(--FF-GillSans);
    font-size: 18px;
    margin-bottom: 0;
}
.l_box{
    float: left; 

}
.l_box p{
    margin-top: 24px;
}
.box_container{
    padding-left: 65px; 
}
 .boxes-1{
    margin-left: 33px;
    float: left;
}
.boxes-1 p{
    margin-top: 24px;
}
.boxes-1{
    float: left;
}
.boxes-2{
    float: left;
}
/* 2 */
.box_container-2{
    padding-left: 65px; 
}
.box-2{
    margin-top: 56px;
    width: 220px;
    height: 220px;
    background-color: #d8d8d8;
}
.boxes-2{
    margin-left: 33px;
}
.boxes-2 p{
    margin-top: 24px;
   
}
/*********** People End ***************/

.stylers{
  padding-top: 155px;
}
.style{
    font-family:var(--FF-GillSans);
    font-size: 22px;
    text-align: center;
    color: #868686;
    margin-bottom: 0;
}
.simple{
    font-family: var(--FF-Baskerville);
    margin-top: 30px;
    font-family: Baskerville;
    font-size: 56px;
    text-align: center;
    color: black;
    margin-bottom: 0;
}
.punk{
    font-family:var(--FF-GillSans);
    width: 100%;
    height: 125px;
    font-size: 27px;
    text-align: center;
    color: black;
    padding-top: 15px;
    margin-bottom: 0;
}
.punk p{
    margin: 0;
    font-family:var(--FF-GillSans);
}
.tear{
    margin-bottom: 0;
    margin-top: 70px;
    font-family:var(--FF-GillSans);
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 2.18px;
    text-align: center;
    color: #797979;
    text-decoration: underline;
}
.style-box{
   float: left;
   padding:0 175px;
   margin-top: 48px;
}
.s-box{
    background-color: #d8d8d8;
    width: 752px ;
    height: 425px;
}

/********* styler end ****************/

/* shoes start */
.shoes{
    padding-top: 109px;
    text-align: center;
}
.collection{
    font-family:var(--FF-Baskerville);
    font-size: 56px;
    text-align: center;
    color:black;
    margin-bottom: 0;
}
.robot{
    margin-top: 12px;
    font-family: var(--FF-GillSans);
    font-size: 27px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0;
}
.track{
    margin-top: 70px;
    font-family: var(--FF-GillSans);
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 2.18px;
    text-align: center;
    color: #797979;
    text-decoration: underline;
    margin-bottom: 0;
}

.shoe-boxes{
   margin-top: 38px;
   padding:0  65px;
}
.sb-1{
    width: 454px;
    height: 454px;
    background-color:#f9f9f9;
    float: left;
      
}
.sb-side_box{
    margin-left: 31px;
    float: left;
}
.sb-side_box-1{
    margin-left: 26px;
    float: left;
}
.sb-side_box-2{
    margin-top: 46px;
    margin-left: 31px;
    float: left;
}
.sb-side_box-3{
    margin-top: 46px;
    margin-left: 26px;
    float: left;
}
.sb-2{
    width: 220px;
    height: 220px;
    background-color:#eae9e5;
}
.sb-3{
    width: 220px;
    height: 220px;
    background-color:#f9f9f9;
}
.sb-4{
    width: 220px;
    height: 220px;
    background-color:#ebebeb;
}
.sb-5{
    width: 220px;
    height: 220px;
    background-color:#efefef;
}
.color{
    text-align: left;
    margin-top: 11px;
}
.color_text-1{
    margin: 0;
    font-size:16px;
    letter-spacing: 1px;
    color: #a8a8a8;
    font-family: var(--FF-GillSans);   
}
.color_text-2{
    font-size: 20px;
    line-height: 1.45;
    letter-spacing: 1px;
    color: #6c7178;
    font-family: var(--FF-GillSans);
}
.color_text-3{
    font-size: 20px;
    letter-spacing: 1px;
    color: #6c7178;
    font-family: var(--FF-GillSans);
    margin-bottom: 0;
}
.color_text-4{
    font-size: 20px;
    letter-spacing: 2.18px;
    color: #a8a8a8;
    font-family: var(--FF-GillSans);
} 
/********** Shoes end ***************/

/********** here_help start **************/
.here_help{
    padding:109px 70px 0 70px;
}
.htp_text-1{
    display: inline-block;
    font-family: var(--FF-Baskerville);
    width: 464px;
    font-family: Baskerville;
    font-size: 38px;
    text-align: center;
    color: black ;
}
.htp_text-2{
    font-family: var(--FF-Baskerville);
    margin-left: 26px;
    display: inline-block;
    width: 464px;
    font-family: Baskerville;
    font-size: 38px;
    text-align: center;
    color: black ;
}
/********** here_help end **************/
/********** Toll start   **************/
.toll{
    padding: 0 70px;
    margin-top: 24px;
}
.faq{
    text-align: center;
    width: 464px;
    float: left;
    color:#4d4d4d;
    font-family: var(--FF-GillSans);
    padding-bottom: 132px;
}
.have{
    color:#4d4d4d;
    font-size: 20px;
}
.have span{
    font-size: 20px;
}
.have a{
    font-size: 24px;
    color:#797979;
}
/* .days{
    font-size: 18px;
    margin-top: 15px;
} */
.week{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 0;
}
.call{
    margin-top: 3px;
    margin-bottom: 0;
}
.call a{
    font-size: 18px;
    color: #797979;
    
}
.email {
    margin-top: 20px;
    margin-bottom: 0;
}
.email a{
    color:#797979;
}
 
 
/* check */

.check{
    margin-top: 24px;
    margin-left: 26px;
    float: left;
    width: 464px;
    height: 125px;
    font-family: GillSans;
    text-align: center;

}
.check_text-1{
    margin-bottom: 35px;
    font-size: 24px;
    color: #4d4d4d;
 
}
.check_text-2 a{ 
    font-size: 24px;
    color: #797979;
}
 /********** toll end **************/


  /********** footer start **************/
  .footer-content{
    float: left;
    padding-top: 92px;
    background-color: #f9f8f6;

}
.let{
    width: 554px;
    font-family: var(--FF-Baskerville);
    font-size: 32px;
    text-align: left;
    color: black;
    margin-left: 100px;
}
.content-2{
    width: 100%;
}
.newsletter{
    width: 510px;
    height: 70px;
    margin-left: 100px;
    font-family: var(--FF-GillSans);
    font-size: 20px;
    line-height: 1.6;
    text-align: left;
    color: #4d4d4d;
    float: left;
}
.email_box{
    margin-left: 40px;
    float: left;
    width: 221px;
    height: 52px;
    padding: 13px 102px 17px 29px;
    border: solid 1px rgba(0, 0, 0, 0.25);
    background-color: #f9f8f6;
}
.email_box input{
    width: 90px;
    height: 18px;
    font-family: var(--FF-HelveticaNeue);
    font-size: 18px;
    letter-spacing: 0.82px;
    text-align: left;
    color: #a2a2a2;
    background-color: #f9f8f6;
    border: none;

}
.sub_box{
    font-family: var(--FF-HelveticaNeue);
    margin-left: 45px;
    float: left;
    width: 185px;
    height: 52px;
    padding: 13px 42px 15px 53px;
    border: solid 1px rgba(0, 0, 0, 0.25);
    background-color: #444;
    font-size: 18px;
}
.sub_box a{
    color: #ffffff;
    text-decoration: none;
}
.agree{
    margin-left: 75px;
    margin-top: 26px;
    float: left;
    width: 1001px;
    height: 70px;
    font-family:var(--FF-GillSans);
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    color: #4d4d4d;
}
.agree a{
    color:#a8a8a8;
}
.links{
    width: 100%;
    float: left;
    padding: 0 95px;
    font-family: var(--FF-Baskerville);
}
.lists{
    list-style: none;
    margin-top: 35px;
    padding: 0;
}
.services{
    float: left;
    font-size: 32px;
    color: #444;
    width: 172px; 
}
.services a{
    text-decoration: none;
    color: #949494;
    font-size: 18px;
}
.orders{
    width: 193px;
    float: left;
    margin-left: 40px;
    font-size: 32px;
    color: #444;
}
.orders a{
    text-decoration: none;
    color: #949494;
    font-size: 18px;
}
.diamond{
    width: 280px;
    float: left;
    margin-left: 40px;
    font-size: 32px;
    color: #444;
}
.diamond a{
    text-decoration: none;
    color: #949494;
    font-size: 18px;
}
.legal{
    width: 263px;
    float: left;
    margin-left: 40px;
    font-size: 32px;
    color: #444;
}
.legal a{
    text-decoration: none;
    color: #949494;
    font-size: 18px;
}
.line{
    float: left;
    width: 1010px;
    height: 1px;
    margin: 116px 8px 62px 0;
    background-color: #a8a8a8;
    margin-top: 116px;
    margin: 116px 100px 0 100px;
    
}
.sm_link{
    width: 100%;
    float: left;
    margin-top: 63px;
    padding: 0 100px;
}

.social_meadia_links{
    float: left;
}
.google{
    float: left;
    width: 26px;
    height: 23px;

}
.twitter{
    float: left;
    width: 26px;
    height: 23px;
    margin-left: 47px;
}

.facebook {
    float: left;
    width: 26px;
    height: 23px;
    margin-left: 47px;
}

.instagram{
    float: left;
    width: 26px;
    height: 23px;
    margin-left: 47px;
}
.copy{
    float: right;
    width: 353px;
    height: 23px;
    font-family:var(--FF-GillSans);
    font-size: 20px;
    text-align: left;
    color: #b2b2b2;
}
.f_logo{
    float: left;
    width:100%;
    margin-top:125px;
    padding: 0 550px ;
    margin-bottom: 185px;
 
}
/* brand logo */
.logo-box-1{
    width: 150px;
    height: 58px;
    float: left;
    text-align: center;
}
 
.brand_name-1{
    font-family: var(--FF-HelveticaNeue);
    font-size: 22px;
    letter-spacing: 1px;
    color: black;
    text-align: center;
}
.fashion-1{
    width: 90px;
    font-family: var(--FF-GillSans);
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #6c7178;
   
}
